    /* font import */
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  *{
    font-family: 'Poppins', sans-serif;
  }
  .banner-img-1{
    background-image: url("../images/carousel/3.jpg");
    height: 100vh;
  }
  .banner-img-2{
    background-image: url("../images/carousel/4.jpg");
    height: 100vh;
  }
  .banner-img-3{
    background-image: url("../images/carousel/5.jpg");
    height: 100vh;
  }
  .btn2-primary{
    height: 40px;
    width: 150px;
    background: #0c2e8a;
    border: 1px solid white;
    color: aliceblue;
    border-radius: 5px;
  }
  .btn2-primary:hover{
    background: #50d8af;
  }
  .client-img{
    width: 160px;
  }